
html{
    scroll-behavior: smooth;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 0px;
    margin: 0px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 100;
    background: linear-gradient( to right,var(--fifth--color),var(--prim--color),var(--second--color),var(--third--color),var(--second--color),var(--prim--color),var(--fifth--color));
    border-radius: 5%;
    backdrop-filter: blur(80px);
}
nav a{
    border-radius: 3px;
    color: var(--third--color) ;
    text-decoration: none;
    padding: 10px 20px;
    font-size: larger;}
.nav{
    background-color:var(--second--color);
    padding:  10px 0;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 5px 10px black;
}
.parent {
    justify-content: center;
    align-items: center;
    text-align: center;

}
body{
    background: linear-gradient(var(--fourth--color),var(--second--color),var(--prim--color),var(--third--color),var(--prim--color),var(--second--color),var(--fourth--color));
    
    color :#b1a8c4;
    text-align: center;
    font-family: Times,'Times New Roman', serif;
    margin: 0;
    padding:0 ;
    text-shadow:  0 6px 10px black;
    backdrop-filter: blur(8px);
   
}
#name{
    color : var(--prim--color);
    font-size: 110px;
    text-shadow: 0px 1px 7px  var(--third--color) ;
}
.header{
    top: 10px;
    padding: 20px;  
    left: 10px;
}
h2{
    font-size: 55px;
    text-shadow:  0 4px 10px black;
}
em{
    font-size: 50px; 
    padding: 10px 20px;
}
h3{
    text-align: center;
    font-size: 25px;
}
div{
 padding: 20px;
 
}
*{
    box-sizing: border-box;
}
#avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 30px;
    border: 4px solid var(--third--color);
    box-shadow:  0px 4px 10px #030303;
}
.s{
    padding-bottom: 120px;
    margin-bottom: 100px;
}
.discreption {

    border-radius: 140px;
    text-align: center;
    background-color: var(--third--color);
    margin : 15px;
    padding: 20px;
    box-shadow:  0px 4px 10px #030303;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    color: var(--prim--color);
}
p.about{
    margin :20px;
    margin-top: 5px;
    padding : 20px 10px;
    padding-top: 1px;
    font-size: 40px;
    font-style: oblique;
    font-weight: 500px;
}
ul {
    list-style: none;
    padding: 0;
}               
#full {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    background-color: var(--second--color);
    border-radius: 10px; 
    box-shadow: 0 5px  8px #E6EFF7 ;
    width: 250px;
    height: 150px;
    margin: 15px;
    padding: 15px;
    color: var(--third--color);
}
.c{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.link{
    padding:20px 50px;
    font-size: 25px;
}
.boxs{
    background-color: var(--second--color);
    border-radius: 10px; 
    box-shadow: 0 5px  10px #E6EFF7 ;
    width: 300px;
    min-height: 150px;
    margin: 0 ;
    padding: 20px 50px;  
    color: var(--third--color);
    text-align: left;
   
}
.child{
    display: block;
    margin: auto;
    top:5px;
    left:0px;
    bottom: 100px;
}
.projects  {
display: grid;
grid-template-columns: repeat(2 , 1fr);
align-items: center;


}
li:hover .display{
    color: #030303;
    display: block;
}
.display{
    display: none;
    background-color: #75619d;
    border-radius: 5px;
    width: 200px;
}
.working {
    margin-top: 10px;
}
img{
    width: 200px;
    align-self: center;
    border-radius: 5px;
}
.logo{
    width: 50px;
    height: 50px;
}
#p{
    display: grid;
    grid-template-columns: repeat(2 , 250px);
    gap : 100px ;
    justify-content: center;
    min-height: 150px;
    padding: 10px;
    margin: 10px;
}