.bodyy{
   margin: 10;
  padding: 0;
background: linear-gradient(140deg, #f7d7e3, #04103f);
  color: rgb(40, 36, 39);
}

body {
  background: linear-gradient(135deg, #0a0f0a, #ab7ea8);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.descrp h2 {
    color: #6e4343;
    font-family: serif ;
    font-weight: bold;
    font-size: 50px;
    padding-top: 80px;
}
.descrp p{
    font-size: 18px;
    font-weight:lighter;
    color: #000;
}
.A{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(20, 14, 14);
  background: linear-gradient(135deg, #f7d7e3, #111a3e);
  padding: 30px;
  gap: 40px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}

.picf{
    width: 300px;
    height: auto;
    border-radius: 500px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 50px;
    
}
.user-prt{
    text-align: left;
    padding: 20PX;
    margin: 4PX;
    align-items: center;
    width: 600px;
    

}

em{
    color: rgb(54, 37, 52);
}
.btn-pic {
    display: flex;
    justify-content: flex-start;        
    gap: 20px;              
    padding-right: 600px;
    margin-top: -30px;
    
    
}


.btn-pic button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    border-radius: 80px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.6);

}

.btn-pic img {
    width: 50px;          
    height: 50px;
    object-fit: cover;    
    border-radius: 40px; 
    gap: 80px;
}

.descrp {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding-top: 300px;
    max-width: 600px; 
    margin: 0 auto 40px; 
    gap: 180px;
    
    
    
}
.descrp > div {
    margin-bottom: 180px;
    
}
.btn-cn {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
}
.btn-cn img {
    width: 50px;          
    height: 50px;
    object-fit: cover;    
    border-radius: 10px;   
}

.btn-cn button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(249, 249, 249, 0);
}
.btn-cn button img {
   
    object-fit: cover; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.contact-me {
    text-align: center;
    margin-bottom: 40px;
}
.contact-me h2 {
    margin-bottom: 30px;
}

.nmbr{
    display: flex;
}
.item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.item p,
.item a {
    margin-top: 5px;
    text-align: center;
}
.fade-section {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease;
}

.fade-section.active {
  transform: scale(1.02);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
#flash-black {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.2s ease;
}
