:root{
 --prim--color : rgb(36,36,58);
 --second--color:#534950;
 --third--color:#c3b7be;
 --fourth--color:#0A1F2E;
}

body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(
    var(--fourth--color),
    var(--third--color),
    var(--third--color),
    var(--fourth--color)
  );
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  width:90%;
  max-width:800px;
}

.card{
  background:rgba(0,0,0,0.6);
  padding:30px;
  border-radius:15px;
  text-align:center;
  color:white;
}

h1,h2{
  color:white;
}

p{
  color:#f1f1f1;
}

#skills{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:10px;
}

.skill{
  background:rgba(255,255,255,0.2);
  padding:6px 12px;
  border-radius:15px;
}

.btn{
  padding:10px 15px;
  margin:5px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
  background:white;
  color:var(--fourth--color);
}

.delete{
  background:#8b0000;
  color:white;
}

.hidden{
  display:none;
}
