:root{
 --prim--color : rgb(36,36,58);
 --second--color:#534950; /*font color*/
 --third--color:#c3b7be;
  --fourth--color:#0A1F2E;
}
  body{
      background: linear-gradient(to right, var(--fourth--color), var(--third--color), #bd8fb0, var(--third--color), var(--fourth--color));
      min-height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
     background: linear-gradient(to bottom, var(--fourth--color), var(--third--color), #bd8fb0, var(--third--color), var(--fourth--color));
-webkit-background-clip: text;
background-clip: text;
  }
.fill {
 width:420px;
 padding: 40px;
 align-items: center;
 justify-content: center;
 margin: auto;
 text-shadow: 0px 4px 7px black;
 background: rgba(255, 255, 255,0.06);
 backdrop-filter: blur(8px);
 font-weight: 100;
 box-shadow: 0 8px 32px rgba(0, 0,0, 0.3);
 border-radius: 10px;
 display: none;
 color: var(--fourth--color);
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
    
}
label{
    font-size: 14px;
}
#pic{
    padding: 10px;
    border-radius: 50px;
}
input{
    margin: 5px 0 10px;
    width: 100%;
    padding: 8px , 12px;
    color: black;
}
h1{
    text-align: center;
    color: var(--fourth--color);
    text-shadow: 0px 4px 7px black;
}
#welcome{
text-align: center;
font-size: 24px;
border-radius: 15px;
 width:70% ;
 padding: 160px;
 
 align-items: center;
 justify-content: center;
 margin: 70px 90px;
 color: var(--third--color);
 background: rgba(255, 255, 255,0.06);
 backdrop-filter: blur(8px);
 font-weight: 100;
 box-shadow: 0 8px 32px rgba(0, 0, 0.3);
 border-radius: 15px;
 text-shadow: 0px 4px 7px black;
}
button{
        padding: 10px 20px;
        background-color: var(--prim--color);
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
}
button:hover{
        background-color: var(--fourth--color);
        color: var(--second--color);
}
label{
    font-size: 20px;
    color: var(--fourth--color);
}
.skill{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: #e0f0ff;
    padding: 3px 10px;
    border-radius: 20px;
    margin: 4px;
    font-size: 13px;
}
.delete{
     background: none;
    border: none;
    cursor: pointer;
    font-size: 11px;
    padding: 0;
    line-height: 1;
}
.delete:hover {
    transform: scale(1.2);
}
