:root{
 --prim--color : rgb(36,36,58);
 --second--color:#534950;
 --third--color:#c3b7be;
 --fourth--color:#0A1F2E;
}


.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 40px;
  background: linear-gradient(90deg, #15121239, #7352943f);
  box-shadow: 0 10px 25px rgba(15, 3, 38, 0.4);
}

.logo {
  width:200px;
  height: 200px;
}

nav {
  background: rgba(31, 14, 24, 0.692);
  padding: 10px 100px;
  border-radius: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  transition: 0.3s;
}


body {
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    var(--fourth--color),
    var(--third--color),
    var(--third--color),
    var(--fourth--color)
  );
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  min-height: calc(100vh - 120px);

  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;

  width: 100%;
  max-width: 700px;
  margin: auto;
}
.hidden {
  display: none;
}